
<div class="container-products">

    {{#if products}}
    {{#each products}}
    <div class="container-product">
        {{product}}
        <a href="/api/views/products/{{_id}}"><h3>{{title}}</h3></a>
        <p>trademark: {{trademark}}</p>
        {{!-- <p>description: {{description}}</p> --}}
        <p>price: $ {{price}}</p>
        {{!-- <p>status: {{status}}</p>
        <p>category: {{category}}</p>
        <p>code: {{id}}</p> --}}
        <p>stock: {{stock}}</p>
        <p> <a href="/api/views/products/{{_id}}"><img src="{{thumbnail}}" alt="imagen" class="imagen"></a></p>

        <div>
            <p>Cantidad: <input type="number" name="cantidad" data-quantity-product-id="{{_id}}" default="0" value="1"  min="1"
                    required>
                <button class="add-to-cart" data-product-id="{{_id}}">Agregar al carrito</button>
        </div>
    </div>
    {{/each}}
    {{else}}
    <h2>NO product</h2>
    {{/if}}

</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/addProduct.js"></script>